@import "./animate";

$fontColor: rgb(209, 200, 200);
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
::selection{
    background-color: rgba(255,255,255,0);
    color: red;
}
h2{
    font-family: 'Roboto', sans-serif;
}
p{
    font-family:'Montserrat', sans-serif;
}
section{
    height: 100vh;
    text-align: center;
    overflow-x: hidden;
}
@mixin flux($direction,$justify) {
    display: flex;
    flex-direction: $direction;
    justify-content:$justify;
}
::-webkit-scrollbar{
    width: 7px;
    background: black;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(blue,#34c9eb,gray);
    border-radius: 9px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#00c6ff,red);
}
