.preloader{
    width: 100%;
    height: 100%;
    position: fixed;
    background: black url(asset/preloader.gif) no-repeat center center;
    z-index: 100;
    top: 0;
    background-size: 30%;
    transition: 1.5 s; 
}

.preloader.active{
    top: -100%;
}