@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");
@-webkit-keyframes leftRight {
  0%, 100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes leftRight {
  0%, 100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes color {
  0%, 100% {
    color: white;
  }
  10% {
    color: #0066ff;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #00ccff;
  }
  40% {
    color: #ff5050;
  }
  50% {
    color: #66ff33;
  }
  60% {
    color: #3333ff;
  }
  70% {
    color: #ff0000;
  }
  80% {
    color: #663300;
  }
  90% {
    color: tomato;
  }
}

@keyframes color {
  0%, 100% {
    color: white;
  }
  10% {
    color: #0066ff;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #00ccff;
  }
  40% {
    color: #ff5050;
  }
  50% {
    color: #66ff33;
  }
  60% {
    color: #3333ff;
  }
  70% {
    color: #ff0000;
  }
  80% {
    color: #663300;
  }
  90% {
    color: tomato;
  }
}

@-webkit-keyframes hover {
  0%, 100% {
    width: 0;
  }
  50% {
    width: 248px;
  }
}

@keyframes hover {
  0%, 100% {
    width: 0;
  }
  50% {
    width: 248px;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: rgba(255, 255, 255, 0);
  color: red;
}

::selection {
  background-color: rgba(255, 255, 255, 0);
  color: red;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

section {
  height: 100vh;
  text-align: center;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(blue), color-stop(#34c9eb), to(gray));
  background: linear-gradient(blue, #34c9eb, gray);
  border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(#00c6ff), to(red));
  background: linear-gradient(transparent, #00c6ff, red);
}

@keyframes leftRight {
  0%, 100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes color {
  0%, 100% {
    color: white;
  }
  10% {
    color: #0066ff;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #00ccff;
  }
  40% {
    color: #ff5050;
  }
  50% {
    color: #66ff33;
  }
  60% {
    color: #3333ff;
  }
  70% {
    color: #ff0000;
  }
  80% {
    color: #663300;
  }
  90% {
    color: tomato;
  }
}

@keyframes hover {
  0%, 100% {
    width: 0;
  }
  50% {
    width: 248px;
  }
}

.nav {
  width: 20%;
  height: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #d1c8c8;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), color-stop(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5));
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-position: center;
  background-size: 100vh;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  -webkit-transition: height .5s 0.45s,left 0.4s;
  transition: height .5s 0.45s,left 0.4s;
  left: -100%;
  z-index: 1;
}

.nav h1 {
  font-size: 80px;
  font-family: 'Poppins', monospace;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 50%;
  padding: 30px;
}

.nav ul li {
  border-bottom: 1px solid #34c9eb;
  list-style: none;
}

.nav ul li:hover span {
  width: 148px;
  height: 2px;
  background-color: #d1c8c8;
  display: inline-block;
  position: absolute;
  left: 31px;
  -webkit-animation: hover 6s infinite;
          animation: hover 6s infinite;
  margin-bottom: 8px;
}

.nav ul li:hover a {
  color: red;
  font-size: 20px;
}

.nav ul li a {
  text-decoration: none;
  font-size: 17px;
  color: white;
  font-family: 'Poppins', monospace;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav.active {
  height: 100vh;
  left: 0;
}

.burger {
  width: 55px;
  height: 35px;
  background: black;
  position: fixed;
  top: 25px;
  left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  cursor: pointer;
}

.burger div {
  width: 40px;
  height: 2px;
  background: white;
}

.burger .small {
  width: 25px;
  float: left;
}

@keyframes leftRight {
  0%, 100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes color {
  0%, 100% {
    color: white;
  }
  10% {
    color: #0066ff;
  }
  20% {
    color: #ffff00;
  }
  30% {
    color: #00ccff;
  }
  40% {
    color: #ff5050;
  }
  50% {
    color: #66ff33;
  }
  60% {
    color: #3333ff;
  }
  70% {
    color: #ff0000;
  }
  80% {
    color: #663300;
  }
  90% {
    color: tomato;
  }
}

@keyframes hover {
  0%, 100% {
    width: 0;
  }
  50% {
    width: 248px;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: rgba(255, 255, 255, 0);
  color: red;
}

::selection {
  background-color: rgba(255, 255, 255, 0);
  color: red;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

section {
  height: 100vh;
  text-align: center;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(blue), color-stop(#34c9eb), to(gray));
  background: linear-gradient(blue, #34c9eb, gray);
  border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(#00c6ff), to(red));
  background: linear-gradient(transparent, #00c6ff, red);
}

.countdown {
  text-align: center;
  position: relative;
  max-width: 100%;
  left: 0;
  bottom: -47.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: black;
  color: red;
  overflow: hidden;
}

.countdown h2 {
  margin-top: 20px;
  font-family: 'Poppins', monospace;
}

.countdown .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.countdown .count p {
  margin: 40px;
  font-size: 20px;
  overflow: hidden;
}

.countdown .count .co {
  font-size: 90px;
}

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  background: black url(asset/preloader.gif) no-repeat center center;
  z-index: 100;
  background-size: 30%;
  -webkit-transition: 1s;
  transition: 1s;
}

.header {
  min-height: 100vh;
  padding: 70px;
  background: url(asset/headerBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #d1c8c8;
}

.header h1 {
  font-size: 100px;
  font-family: 'Poppins', monospace;
  margin-top: 10px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: color 10s infinite;
          animation: color 10s infinite;
}

.header h1 span {
  color: yellow;
}

.header h1 span:nth-child(2) {
  color: red;
}

.header h1 span:nth-child(3) {
  color: blue;
}

.header h1 span:nth-child(4) {
  color: greenyellow;
}

.header h1 .line {
  content: "";
  display: inline-block;
  position: relative;
  top: 0px;
  width: 100px;
  height: 3px;
  background: white;
  -webkit-animation: leftRight 2s infinite;
          animation: leftRight 2s infinite;
}

.header h1 .line.right {
  right: 100px;
}

.header h1:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  font-size: 110px;
  color: white;
}

.header p {
  margin: 80px 0;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
}

.about .contentBx {
  width: 50%;
  height: 100%;
  background: black;
}

.about .contentBx .content {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
}

.about .contentBx .content h2 {
  font-size: 80px;
  color: #d1c8c8;
  font-family: 'Poppins', monospace;
}

.about .contentBx .content p {
  font-size: 18px;
  color: #d1c8c8;
}

.about .contentBx .content input {
  width: 30%;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  padding: 10px 15px;
  background: #34c9eb;
  border: 1px solid black;
  border-radius: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.about .contentBx .content input:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  box-shadow: 0px 15px 55px -8px rgba(52, 201, 235, 0.85);
  -webkit-box-shadow: 0px 15px 55px -8px rgba(52, 201, 235, 0.85);
  -moz-box-shadow: 0px 15px 55px -8px rgba(52, 201, 235, 0.85);
  background: none;
  color: #34c9eb;
  border-color: white;
}

.about .imgBx {
  width: 50%;
  overflow: hidden;
}

.about .imgBx img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.Features {
  width: 100%;
  max-height: 450px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Features .contentBx {
  width: 70%;
  height: 100%;
}

.Features .contentBx .content {
  height: 100%;
  color: #d1c8c8;
  letter-spacing: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Features .contentBx .content p {
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
}

.Features .imgBx {
  height: 100%;
}

.Features .imgBx img {
  height: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  margin-left: 70px;
}
/*# sourceMappingURL=style.css.map */